@media all and (max-width: 1300px) {
  .blocks_text_main__btn {
    margin-top: 37px;
  }
  .elipse {
    top: 94%;
  }
}

/* ----------------------------------------------------------------------------- */

@media all and (max-width: 1200px) {
  .text__button {
    padding: 0;
    font-size: 14px;
    width: 60%;
    height: 44px;
  }
  .bg-image {
    background: url(./src/about-us/humans.png) 97% 0% no-repeat;
    background-size: 79% 89%;
    background-position-y: 88%;
    width: 76vw;
  }
  .main__text {
    width: 100%;
  }
  .nav_container {
    padding-top: 5px;
    height: 51px;
  }

  .blocks_text,
  .blocks_text2,
  .blocks_text3 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
    width: 43.3vw;
    height: 351px;
    padding-bottom: 10px;
  }

  .blocks_text2 {
    height: 370px;
  }

  .blocks_text_main__desc {
    width: 35vw;}
}

@media all and (max-width: 1100px) {
  .blocks_text:hover,
  .blocks_text2:hover,
  .blocks_text3:hover {
    background: rgba(163, 163, 163, 0.6);
  }
  .blocks_text3:hover {
    background: rgba(163, 163, 163, 0.6);
  }
  .arrows img {
    width: 5%;
  }
  .blocks_text_main__btn {
    margin-top: 13px;
    width: 89%;
  }
  .blocks_text_main__desc {
    font-size: 10.5px;
    height: 62%;
  }
  .elipse {
    top: 94%;
  }

  .blocks_text_main__title {
    width: 101%;
    height: 19%;
    font-size: 1.6rem;
  }

  .blocks_text_main__title2 {
    font-size: 19px;
  }
  .text__button {
    font-size: 12px;
    height: 53px;
  }
  .footer-carts {
    width: 69%;
  }

  .footer-contacts {
    margin-right: 13px;
  }

  .about-us_text {
    width: 55vw;
    padding-top: 0.7%;
    padding-left: 5.5%;
  }
  .bg-image__image {
    padding-top: 1.59vw;
    padding-right: -0.3vw;
  }
  .text__button {
    font-size: 15px;
    height: 41px;
    padding: 5px 0px 5px;
  }

  .bg-image {
    background-size: 99% 96%;
    background-position-y: 87%;
    width: 66vw;
  }

  .news-pic_blocks,
  .news-pic_blocks2,
  .news-pic_blocks3 {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
@media all and (max-width: 950px) {
  .elipse {
    top: 95%;
  }
  .footer-contacts {
    margin-bottom: 50px;
  }
  .tariffs-box__headline h2 {
    line-height: 119%;
  }

  .tariffs {
    margin-bottom: 65px;
  }
}

@media all and (max-width: 750px) {
  .menu label {
    display: block;
    font-size: 39px;
  }
  .items {
    width: 96%;
    height: 74px;
  }

  .info-block1,
  .info-block2,
  .info-block3 {
    margin-bottom: 25px;
    width: 70%;
  }
  .tariffs_container {
    width: 92%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .actual-news_content {
    flex-direction: column;
    align-items: center;
  }

  .content--right__info-blocks,
  .content--right__info-blocks2,
  .content--right__info-blocks3,
  .content--right__info-blocks4 {
    width: 31.5vw;
  }
  .content--right {
    width: 68vw;
    margin-top: 50px;
  }

  .content--left {
    width: 66vw;
    height: 321px;
  }
  .footer-contacts {
    margin-right: 26px;
  }

  .blocks_text_main__title {
    width: 101%;
    height: 19%;
    font-size: 19px;
  }
  .blocks_text_main__btn {
    margin-top: 17px;
  }
  .logo {
    padding-left: 40%;
    display: none;
  }
  .nav_container {
    width: 100vw;
    padding: 0;
  }
  .menu {
    position: fixed;
    width: 100vw;
    padding-bottom: 0;
    height: 50px;
    background: linear-gradient(1deg, #526d94, #ffffff);
  }
  .items-link {
    display: none;
    width: 100%;
  }
  input:checked ~ .items-link {
    display: flex;
    height: 9%;
    position: fixed;
    z-index: 500;
    background: linear-gradient(1deg, #526d94, #ffffff);
    width: 100%;
  }
  .items-lang {
    display: none;
  }
  .text__button {
    width: 69%;
    font-size: 14px;
    height: 42px;
    padding: 0;
  }

  .blocks_text2 {
    padding-left: 22px;
  }
  .blocks_text3,
  .blocks_text {
    padding-left: 16px;
  }
  .items-link__a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-top: 10px;
    margin-left: 11%;
    border: none;
  }
  .bg-image {
    background: url(./src/about-us/humans.png) 90% 0% no-repeat;
    background-size: 90% 84%;
    background-position-y: 95%;
    width: 73vw;
  }
}

@media all and (max-width: 680px) {
  .blocks_text2,
  .blocks_text3,
  .blocks_text {
    width: 60vw;
  }
  .elipse {
    top: 79%;
  }
  .blocks_text_main__btn {
    margin-top: 20px;
  }
  .blocks_text_main__desc {
    width: 80%;
    font-size: 12px;
  }
  .blocks_text_main__title,
  .blocks_text_main__title2 {
    font-size: 26px;
  }
  .about-us {
    height: 47.6vw;
  }
  .about-us_content {
    height: 39.5vw;
  }
  .about-us_container {
    padding-top: 2.2vw;
  }
  .bg-image {
    background-size: 98% 84%;
  }
}
@media all and (max-width: 590px) {
  .info-block1,
  .info-block2,
  .info-block3 {
    height: 113px;
    margin-bottom: 10px;
  }

  .elipse {
    top: 92%;
  }
  .content--left__title {
    font-size: 23px;
  }
  .blocks_text2,
  .blocks_text3,
  .blocks_text {
    padding-top: 2.6vw;
  }

  .actual-new_caption {
    font-size: 22px;
  }
  .about-us_content {
    display: flex;
    height: 39.5vw;
  }
  .tariffs-box__headline h2 {
    line-height: 116%;
    font-size: 16.8px;
  }
  .blocks_text_main__desc {
    width: 80%;
    display: flex;
    padding: 0;
    height: 80%;
  }

  .footer-contacts {
    width: 208px;
    margin-bottom: 50px;
  }
  .blocks_text_main__title,
  .blocks_text_main__title2 {
    font-size: 19px;
  }
  .about-us_container {
    padding-top: 0.2vw;
  }

  .about-us_text {
    padding-top: 1.7%;
  }

  .bg-image {
    background-size: 100% 82%;
    background-position-y: 97%;
    width: 73vw;
  }
  .about-us {
    height: 39.5vw;
  }
  .blocks_text_main__btn {
    padding: 2%;
    width: 60%;
    margin: 15px auto;
    height: 33px;
  }
  .actual-news_container {
    padding: 0;
    width: 85;
  }
}

@media all and (max-width: 596px) {
  .blocks_text_main__desc {
    height: 85%;
  }
  .blocks_text_main__btn {
    margin-left: 23%;
    padding: 7px;
    width: 50%;
  }
  .blocks_text_main {
    width: 80%;
    margin-top: 6%;
  }
  .blocks_text,
  .blocks_text2,
  .blocks_text3 {
    padding: 0;
    width: 66vw;
    display: flex;
  }
}

@media all and (max-width: 556px) {
  .blocks_text,
  .blocks_text2,
  .blocks_text3 {
    height: 373px;
    padding-top: 4px;
  }

  .items-link__a {
    font-size: 14px;
    margin-left: 7%;
  }
  .bg-image {
    background-size: 100% 92%;
    background-position-y: 85%;
    width: 73vw;
  }
  .footer-contacts {
    margin-bottom: 50px;
  }
  .blocks_text_main__btn {
    margin-left: 23%;

    font-size: 12px;
    margin-bottom: 5%;
    height: 35px;
  }

  .text__button {
    width: 63%;
    font-size: 10px;
    height: 29px;
    padding: 0;
  }

  .blocks_text_main__desc {
    font-size: 11px;
    height: 86%;
  }
  .footer-header {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .text__subtitle {
    padding-bottom: 25px;
  }
}

@media all and (max-width: 475px) {
  .text__subtitle {
    padding-bottom: 29px;
    font-size: 11px;
  }

  .items-link__a {
    margin-left: 3%;
  }
  .blocks_text_main__btn {
    width: 54%;
    font-size: 12px;
    height: 28px;
    margin-top: -1%;
    overflow: 3px;
    padding: 3px;
  }
  .footer-contacts {
    margin-bottom: 53px;
  }
  .text__button {
    width: 68%;
    font-size: 11px;
  }
  .elipse {
    top: 89%;
  }
  .footer-header {
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
  }
  .bg-image {
    background-size: 100% 81%;
    background-position-y: 94%;
    width: 60vw;
  }
}
@media all and (max-width: 460px) {
  .blocks_text_main {
    height: 258px;
  }
}

@media all and (max-width: 440px) {
  .footer-header {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .blocks_text_main {
    gap: 30.6px;
  }
  .about-us_content {
    height: 60.5vw;
  }
  .items-link__a {
    font-size: 13px;
  }
  .elipse {
    top: 60%;
  }
  .bg-image {
    background-size: 101% 54%;
    background-position-y: 31%;
    width: 55vw;
  }

  .blocks_text2 {
    padding-left: 14px;
  }
  .blocks_text_main__btn {
    font-size: 11px;
    width: 55%;
    margin-top: -47px;
    margin-left: 15%;
  }
  .footer-contacts {
    margin-bottom: 30px;
  }
  .footer-carts {
    width: 100%;
  }
  .content--right {
    height: auto;
    flex-wrap: wrap;
  }
  .content--left {
    width: 91vw;
  }
  .content--right__info-blocks,
  .content--right__info-blocks2,
  .content--right__info-blocks3,
  .content--right__info-blocks4 {
    width: 67.5vw;
    flex-wrap: wrap;
  }
  .blocks_text_main__title,
  .blocks_text_main__title2 {
    line-height: 26px;
  }
  .blocks_text,
  .blocks_text2,
  .blocks_text3 {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 7px;
  }
  .about-us {
    height: 61vw;
  }
  .news-pic_blocks,
  .news-pic_blocks2,
  .news-pic_blocks3 {
    padding: 0;
    justify-content: center;
    display: flex;
  }
  .blocks_text_main__desc {
    font-size: 10px;
    width: 90%;
  }

  .items-link__a {
    font-size: 13px;
  }
}
@media all and (max-width: 394px) {
  .about-us_content {
    height: 40vw;
  }
  .items-link__a {
    font-size: 13spx;
    margin-left: 0%;
  }
  .text__title {
    font-size: 20px;
  }
  .about-us_container {
    height: 40vw;
  }
  .blocks_text_main__desc {
    margin-top: -6vw;
  }
  .about-us_text {
    padding-top: -0.3%;
    padding-left: 10.5%;
  }
  .blocks_text_main__btn {
    margin-left: 16%;

    font-size: 11px;
    padding: 4px 0 0 0;
    margin-top: -6%;
  }
  .info-block1,
  .info-block2,
  .info-block3 {
    height: 116px;
    margin-bottom: 8px;
    font-size: 30%;
  }
  .elipse {
    width: 98px;
    top: 87%;
  }
  .text__button {
    width: 74%;
    height: 19px;
    font-size: 10px;
  }
  .text__subtitle {
    padding-bottom: 14px;
    font-size: 12px;
  }

  .bg-image {
    background-position-y: 107%;
    background-size: 100% 80%;
  }

  .about-us {
    height: 41vw;
  }
  .tariffs-box__headline h2 {
    font-size: 14.8px;
  }
  .blocks_text,
  .blocks_text2,
  .blocks_text3 {
    height: 383px;
  }
}

@media all and (max-width: 365px) {
  .text__title {
    font-size: 22px;
  }
  .info-block1,
  .info-block2,
  .info-block3 {
    margin-bottom: 35px;
  }
  .text__subtitle {
    padding-bottom: 12px;
    font-size: 10px;
  }

  .blocks_text_main__desc {
    margin-top: -8vw;
  }

  .blocks_text_main__btn {
    font-size: 12px;
    padding: 3px 2px 0px;
    width: 61%;
    margin-top: -5vw;
    height: 28px;
  }
  .about-us_content {
    height: 60.5vw;
  }

  .tariffs-box__headline p {
    font-size: 12px;
  }

  .bg-image {
    background: url(./src/about-us/humans.png) 102% 0% no-repeat;
    background-size: 100% 56%;
    background-position-y: 26%;
    width: 77vw;
  }

  .text__button {
    width: 77%;
    font-size: 9px;
    height: 21px;
  }

  .arrows img {
    width: 7%;
  }

  .blocks_text2,
  .blocks_text3,
  .blocks_text {
    width: 68vw;
  }

  .actual-new_caption {
    margin-top: -38.5px;
  }
}

@media  all and (min-width: 1366px){
  .elipse {
    top: 96%;}
}
