@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./adaptive.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.nav_container {
  width: 85%;
  margin: 0 auto;
  padding-top: 10px;
  height: 65px;
  padding-left: 7px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  align-items: center;
  background: #ffffff;

  padding-bottom: 15px;
}

.logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  height: 36px;
  color: #0f2a59;
}

.items {
  width: 65vw;
  height: 24px;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.items-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.items-link__a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #181818;
  padding: 0px 0 0 12px;
  border-right: 1px solid #e8e8e8;
  align-self: center;
}

.items-link img {
  padding-left: 20px;
  align-items: center;
}

.items-lang {
  display: flex;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 17px;
  color: #181818;
  margin-right: -4.9px;
}

.items-lang__img {
  padding-left: 14px;
  /* padding-right: 10px; */
}

.about-us_container {
  width: 85vw;
  margin: 0 auto;
  padding-top: 8.2vw;
  height: auto;
}

.arrows {
  width: 95.3vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  top: 20vw;
  left: 2.3vw;
}

.about-us {
  background: url(./src/about-us/bg.png) no-repeat;
  height: 41.6vw;
  width: 100vw;
  position: relative;
  color: #0e0e0ee5, 90%;
  display: flex;
  justify-content: space-between;
}

.about-us_content {
  display: flex;
  height: 33.5vw;
}

.bg-image {
  background: url(./src/about-us/humans.png) 90% 0% no-repeat;
  background-size: 78% 94%;
  background-position-y: 91%;
  width: 60vw;
}

.about-us_text {
  padding-top: 9.8%;
  padding-left: 5.62%;
}
.text__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 18px;
}

.text__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 56px;
}



.text__button {
  width: 75%;
  height: 37px;
  border: 1px solid #ffffff;
  padding: 6px 35px 8px;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  background: linear-gradient(
      0deg,
      rgba(14, 14, 14, 0.9),
      rgba(14, 14, 14, 0.9)
    ),
    url(1050255797.jpg);

  gap: 10px;
}

.arrow-left {
  transform: rotate(180deg);
}

.elipse {
  position: absolute;
  width: 136px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  left: 45%;
  top: 527px;
}

.elipse_items {
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  background-color: rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------- */

.tariffs {
  width: 100%;
  margin-top: 33px;
  margin-bottom: 104px;
}

.tariffs_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tariffs-box {
  border-left: 5px solid #0f2a59;
  border-radius: 0px;
  border-width: 5px;
  width: 359px;
  height: 130px;

  padding: 5px;
  padding-left: 11px;
  margin-right: 7px;
}

.tariffs-box:hover {
  border-left: 5px solid #ebebeb;
}

.tariffs-box__headline {
  padding-left: 3px;
}

.tariffs-box__headline h2 {
  font-weight: 700;
  line-height: 204%;
  font-family: "Inter";
  font-style: normal;
  font-size: 15.8px;
  line-height: 70%;
  color: #181818;
  margin-top: 15.5px;
  margin-left: 1.2px;
}
.tariffs-box__headline p {
  font-weight: 400;
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  margin-top: 10px;
  margin-left: -1px;
  color: #181818;
}

.carousel__image {
  position: relative;
  left: 54.54%;
  right: 37.7%;
  top: 19.09%;
  bottom: 77.92%;
}

.info-block1 {
  background: url(./src/carousel/first-img.jpg) no-repeat;
  background-position: 100%;
}

.info-block2 {
  background: url(./src/carousel/second-img.jpg) no-repeat;
  background-position: 100%;
  padding-left: 12px;
}

.info-block3 {
  background: url(./src/carousel/third-img.jpg) no-repeat;
  background-position: 100%;
  padding-left: 15px;
}

/* ------------------------------------------------------------------------------------------------- */

.actual-news {
  width: 100%;
  margin-bottom: 72px;
}

.actual-news_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 477px;
}
.actual-new_caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #200e32;
  margin-bottom: 24px;
  margin-top: -1.5px;
}

.actual-news_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content--left {
  padding-top: 24.8%;
  padding-left: 1.78%;
  width: 41.4vw;
  background: url("./src/actual-news/left.png") no-repeat;
}

.content--right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 41.2vw;
  height: 383px;
}

.content--right__info-blocks {
  width: 19.5vw;
  height: 181px;
  margin-bottom: 21px;
  background: url(./src/actual-news/actual-news_rigth1.png) no-repeat;
  padding-bottom: 2%;
}

.content--right__info-blocks2 {
  width: 19.5vw;
  margin-bottom: 12px;
  height: 181px;
  background: url(./src/actual-news/right2.png) no-repeat;
}

.content--right__info-blocks3 {
  width: 19.5vw;
  height: 181px;
  margin-bottom: 12px;
  background: url(./src/actual-news/right3.png) no-repeat;
}

.content--right__info-blocks4 {
  width: 19.3vw;
  height: 181px;
  margin-bottom: 12px;
  background: url(./src/actual-news/right4.png) no-repeat;
}

.content--right__info-blocks:nth-child(3) {
  margin-bottom: 0;
}

.content--right__info-blocks:nth-child(4) {
  margin-bottom: 0;
}

.content--left__data {
  margin-bottom: 1%;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
}

.content--left__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: #ffffff;
  padding-left: -1%;
}

.content--right__data {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 125%;
  color: #ffffff;
  padding-left: 3%;
  padding-top: 44%;
}

.content--right__title {
  padding-top: 0.9%;
  padding-left: 3%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: #ffffff;
}

/* ----------------------------------------------------------------------------------- */

.news-pic_container {
  width: 85%;
  margin: 0 auto;
}

.news-pic_blocks {
  width: 100%;
  height: 477px;
  background: url(./src/news-pic/first-pic.png) no-repeat;
  display: flex;
  justify-content: flex-end;
  padding-top: 57px;
  padding-right: 105px;
}
.news-pic_blocks2 {
  width: 85vw;
  height: 480px;
  background: url(./src/news-pic/sec-pic.png) no-repeat;
  background-position: 100%;
  margin-bottom: 48px;
  padding-top: 20px;
}
.news-pic_blocks3 {
  width: 85vw;
  height: 480px;
  background: url(./src/news-pic/third-pic.png) no-repeat;
  display: flex;
  justify-content: flex-end;
  padding-top: 51px;
  padding-right: 105px;
}

.blocks_text {
  padding-top: 47px;
  padding-left: 48px;
  width: 36.3vw;
  height: 363px;
  background-color: #fff;
}

.blocks_text_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15.6px;
  width: 100%;
  height: 244px;
}

.blocks_text_main__title {
  width: 259px;
  height: 34px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #181818;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.blocks_text_main__desc {
  width: 33vw;
  height: 140px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.9px;
  line-height: 146.9%;
  color: #b6b6b6;
  margin-top: -6px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.blocks_text_main__btn {
  box-sizing: border-box;
  margin-top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #0f2a59;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 9px 40px 10px;
  gap: 10px;
  width: 260px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px solid #0f2a59;
}

.news-pic_blocks {
  margin-bottom: 49px;
}

.blocks_text3 {
  padding-top: 44px;
  padding-left: 48px;
  width: 34.8vw;
  height: 362px;
  background-color: #fff;
}

.blocks_text2 {
  padding-top: 47px;
  padding-left: 45px;
  width: 39.3vw;
  height: 383px;
  margin-top: 29px;
  margin-left: 64px;
  background-color: #fff;
}

.blocks_text_main__title2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #181818;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* ---------------------------------------------------------------------------------- */
.footer {
  width: 100%;
  background-color: #181818;
}
.footer_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  height: 342px;
}

.footer-contacts {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.footer-contacts__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0.7px;
  margin-bottom: 17.9px;
  margin-left: -3px;
}

.footer-contacts_numbers {
  display: flex;
  flex-direction: column;
  height: 85px;
  margin-bottom: 20px;
}

.contacts_numbers {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 12px;
}

.contacts_numbers img {
  margin-right: 9px;
}

.footer_border {
  opacity: 0.8;
  border: 1px solid #262626;
  opacity: 0.8;
  border: 1px solid #a9a2a2;
  margin-bottom: 14px;
}

.footer-contacts_socials {
  display: flex;
  flex-direction: column;
  height: 85px;
  margin-bottom: 20px;
}

.contacts_socials,
.contacts_address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  margin-left: -2.5px;
  color: #ffffff;
  margin-bottom: 11px;
}
.contacts_address {
  margin-left: -0.5px;
}
.contacts_socials img {
  margin-right: 16px;
}

.footer-contacts__address {
  margin-top: 9px;
}

.footer-contacts__address img {
  margin-right: 16px;
}

.footer-remotion {
  margin: 48px auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-carts {
  height: 342px;
}
/* --------------------------------------------------------------------------*/
.main_container {
  padding-top: 32px;
  width: 85%;
  margin: 0 auto;
  height: auto;
}

.main_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #181818;
  /* margin-bottom: 16px; */
  margin-top: 2px;
  margin-left: -4px;
}

.main__text {
  margin: 14px 0 93px -4px;
  width: 75%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  height: auto;
  color: #7f8d97;
}

.menu label {
  display: none;
}

.items input {
  display: none;
}


/* hovers */
/* --------------------------------------------------------------------- */
.text__button:hover{
  cursor: pointer;
  background:rgb(199,199,199)
}


.blocks_text_main__btn:hover{
  cursor: pointer;
  background: rgb(128, 128, 128) 
}
/* ---------------------------------------------------------------------------- */




