@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./adaptive.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.nav_container {
  width: 85vw;
  margin: 0 auto;
  padding-top: 10px;
  height: 65px;
  padding-left: 7px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  align-items: center;
  background: #ffffff;

  padding-bottom: 15px;
}

.logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  height: 36px;
  color: #0f2a59;
}

.items {
  width: 65vw;
  height: 24px;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.items-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.items-link__a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #181818;
  padding: 0px 0 0 12px;
  border-right: 1px solid #e8e8e8;
  align-self: center;
}

.items-link img {
  padding-left: 4px;
  align-items: center;
}

.items-lang {
  display: flex;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #181818;
}

.items-lang__img {
  padding-left: 4px;
  padding-right: 10px;
}

.about-us_container {
  width: 85vw;
  margin: 0 auto;
  padding-top: 8.2vw;
  height: auto;
}

.arrows {
  width: 95.3vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  top: 20vw;
  left: 2.3vw;
}

.about-us {
  background: url(./src/about-us/bg.png) no-repeat;
  height: 41.6vw;
  width: 100vw;
  position: relative;
  color: #0e0e0ee5, 90%;
  display: flex;
  justify-content: space-between;
}

.about-us_content {
  display: flex;
  height: 33.5vw;
}

.bg-image {
    background: url(./src/about-us/humans.png) 107% 0% no-repeat;
    background-size: 81% 96%;
    background-position-y: 87%;
    width: 58vw;
}

.about-us_text {
  padding-top: 9.8%;
  padding-left: 5.62%;
}
.text__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 18px;
}

.text__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 56px;
}

.text__button {
  width: 75%;
  height: 37px;
  border: 1px solid #ffffff;
  padding: 6px 35px 8px;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  background: linear-gradient(
      0deg,
      rgba(14, 14, 14, 0.9),
      rgba(14, 14, 14, 0.9)
    ),
    url(1050255797.jpg);

  gap: 10px;
}

.arrow-left {
  transform: rotate(180deg);
}

.elipse {
  position: absolute;
  width: 136px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  left: 45%;
  top: 527px;
}

.elipse_items {
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  background-color: rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------- */

.tariffs {
  width: 100%;
  margin-top: 33px;
  margin-bottom: 104px;
}

.tariffs_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tariffs-box {
  border-left: 5px solid #0f2a59;
  border-radius: 0px;
  border-width: 5px;
  width: 359px;
  height: 130px;

  padding: 5px;
  padding-left: 11px;
  margin-right: 7px;
}

.tariffs-box:hover {
  border-left: 5px solid #ebebeb;
}

.tariffs-box__headline {
  padding-left: 3px;
}

.tariffs-box__headline h2 {
  font-weight: 700;
  line-height: 204%;
  font-family: "Inter";
  font-style: normal;
  font-size: 15.8px;
  line-height: 70%;
  color: #181818;
  margin-top: 15.5px;
  margin-left: 1.2px;
}
.tariffs-box__headline p {
  font-weight: 400;
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  margin-top: 10px;
  margin-left: -1px;
  color: #181818;
}

.carousel__image {
  position: relative;
  left: 54.54%;
  right: 37.7%;
  top: 19.09%;
  bottom: 77.92%;
}

.info-block1 {
  background: url(./src/carousel/first-img.jpg) no-repeat;
  background-position: 100%;
}

.info-block2 {
  background: url(./src/carousel/second-img.jpg) no-repeat;
  background-position: 100%;
  padding-left: 12px;
}

.info-block3 {
  background: url(./src/carousel/third-img.jpg) no-repeat;
  background-position: 100%;
  padding-left: 15px;
}

/* ------------------------------------------------------------------------------------------------- */

.actual-news {
  width: 100%;
  margin-bottom: 72px;
}

.actual-news_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 477px;
}
.actual-new_caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #200e32;
  margin-bottom: 24px;
  margin-top: -1.5px;
}

.actual-news_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content--left {
  padding-top: 24.8%;
  padding-left: 1.78%;
  width: 41.4vw;
  background: url("./src/actual-news/left.png") no-repeat;
}

.content--right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 41.2vw;
  height: 383px;
}

.content--right__info-blocks {
  width: 19.5vw;
  height: 181px;
  margin-bottom: 21px;
  background: url(./src/actual-news/actual-news_rigth1.png) no-repeat;
  padding-bottom: 2%;
}

.content--right__info-blocks2 {
  width: 19.5vw;
  margin-bottom: 12px;
  height: 181px;
  background: url(./src/actual-news/right2.png) no-repeat;
}

.content--right__info-blocks3 {
  width: 19.5vw;
  height: 181px;
  margin-bottom: 12px;
  background: url(./src/actual-news/right3.png) no-repeat;
}

.content--right__info-blocks4 {
  width: 19.3vw;
  height: 181px;
  margin-bottom: 12px;
  background: url(./src/actual-news/right4.png) no-repeat;
}

.content--right__info-blocks:nth-child(3) {
  margin-bottom: 0;
}

.content--right__info-blocks:nth-child(4) {
  margin-bottom: 0;
}

.content--left__data {
  margin-bottom: 1%;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
}

.content--left__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: #ffffff;
  padding-left: -1%;
}

.content--right__data {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 125%;
  color: #ffffff;
  padding-left: 3%;
  padding-top: 44%;
}

.content--right__title {
  padding-top: 0.9%;
  padding-left: 3%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: #ffffff;
}

/* ----------------------------------------------------------------------------------- */

.news-pic_container {
  width: 85vw;
  margin: 0 auto;
}

.news-pic_blocks {
  width: 85vw;
  height: 477px;
  background: url(./src/news-pic/first-pic.png) no-repeat;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-top: 57px;
  padding-right: 105px;
}
.news-pic_blocks2 {
  width: 85vw;
  height: 480px;
  background: url(./src/news-pic/sec-pic.png) no-repeat;
  background-position: 100%;
  margin-bottom: 48px;
  padding-top: 20px;
}
.news-pic_blocks3 {
  width: 85vw;
  height: 480px;
  background: url(./src/news-pic/third-pic.png) no-repeat;
  display: flex;
  justify-content: flex-end;
  padding-top: 51px;
  padding-right: 105px;
}

.blocks_text {
  padding-top: 47px;
  padding-left: 48px;
  width: 36.3vw;
  height: 363px;
  background-color: #fff;
}

.blocks_text_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15.6px;
  width: 100%;
  height: 244px;
}

.blocks_text_main__title {
  width: 259px;
  height: 34px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #181818;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.blocks_text_main__desc {
  width: 33vw;
  height: 140px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.9px;
  line-height: 146.9%;
  color: #b6b6b6;
  margin-top: -6px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.blocks_text_main__btn {
  box-sizing: border-box;
  margin-top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #0f2a59;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 9px 40px 10px;
  gap: 10px;
  width: 260px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px solid #0f2a59;
}

.news-pic_blocks {
  margin-bottom: 49px;
}

.blocks_text3 {
  padding-top: 44px;
  padding-left: 48px;
  width: 34.8vw;
  height: 362px;
  background-color: #fff;
}

.blocks_text2 {
  padding-top: 47px;
  padding-left: 45px;
  width: 39.3vw;
  height: 383px;
  margin-top: 29px;
  margin-left: 64px;
  background-color: #fff;
}

.blocks_text_main__title2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #181818;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* ---------------------------------------------------------------------------------- */
.footer {
  width: 100%;
  background-color: #181818;
}
.footer_container {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  height: 342px;
}

.footer-contacts {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.footer-contacts__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0.7px;
  margin-bottom: 17.9px;
  margin-left: -3px;
}

.footer-contacts_numbers {
  display: flex;
  flex-direction: column;
  height: 85px;
  margin-bottom: 20px;
}

.contacts_numbers {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 12px;
}

.contacts_numbers img {
  margin-right: 9px;
}

.footer_border {
  opacity: 0.8;
  border: 1px solid #262626;
  opacity: 0.8;
  border: 1px solid #a9a2a2;
  margin-bottom: 14px;
}

.footer-contacts_socials {
  display: flex;
  flex-direction: column;
  height: 85px;
  margin-bottom: 20px;
}

.contacts_socials,
.contacts_address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  margin-left: -2.5px;
  color: #ffffff;
  margin-bottom: 11px;
}
.contacts_address {
  margin-left: -0.5px;
}
.contacts_socials img {
  margin-right: 16px;
}

.footer-contacts__address {
  margin-top: 9px;
}

.footer-contacts__address img {
  margin-right: 16px;
}

.footer-remotion {
  margin: 48px auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-carts {
  height: 342px;
}
/* --------------------------------------------------------------------------*/
.main_container {
  padding-top: 32px;
  width: 85.4vw;
  margin: 0 auto;
  height: 800px;
}

.main_text {
  width: 868px;
  display: flex;
  flex-direction: column;
}

.main_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #181818;
  margin-bottom: 16px;
}

.main_text {
  width: 868px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  height: 609px;
  color: #7f8d97;
}

.menu label {
  display: none;
}

.items input {
  display: none;
}



/* ----------------------------------------------------------------------------- */

@media all and (max-width: 1200px) {
  .text__button {
    width: 98%;
    height: 66px;
  }
}

@media all and (max-width: 1100px) {
  .blocks_text_main__desc {
    font-size: 10.5px;
    height: 62%;
  }
  .elipse {
    display: none;
  }
  .blocks_text2 {
    padding-top: 47px;
    padding-left: 21px;
    width: 43.3vw;
  }
  .blocks_text_main__btn {
    width: 89%;
  }
  .blocks_text_main__title {
    width: 101%;
    height: 19%;
    font-size: 1.6rem;
  }
  .blocks_text3,
  .blocks_text {
    padding-left: 23px;
    width: 43.3vw;
  }
  .blocks_text_main__title2 {
    font-size: 19px;
  }
  .text__button {
    font-size: 12px;
    height: 53px;
  }
  .footer-carts {
    width: 69%;
  }

  .footer-contacts {
    margin-right: 13px;
  }

  .about-us_text {
    width: 55vw;
    padding-top: 0.7%;
    padding-left: 5.5%;
  }
  .bg-image__image {
    padding-top: 1.59vw;
    padding-right: -0.3vw;
  }
}

@media all and (max-width: 950px) {
  .elipse {
    top: 385px;
  }
  .footer-contacts {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 750px) {
  .menu label {
    display: block;
    font-size: 47px;
    padding: 0 -11px;
    position: fixed;
  }
  .tariffs_container {
    width: 92%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .actual-news_content {
    flex-direction: column;
    align-items: center;
  }

  .content--right__info-blocks,
  .content--right__info-blocks2,
  .content--right__info-blocks3,
  .content--right__info-blocks4 {
    width: 31.5vw;
  }
  .content--right {
    width: 68vw;
    margin-top: 50px;
  }

  .content--left {
    width: 66vw;
    height: 321px;
  }
  .footer-contacts {
    margin-right: 26px;
  }

  .blocks_text_main__title {
    width: 101%;
    height: 19%;
    font-size: 19px;
  }
  .blocks_text_main__btn {
    margin-top: 17px;
  }
  .logo {
    padding-left: 40%;
  }
  .items-link {
    display: none;
    margin-top: 50px;
  }
  .menu input {
    opacity: 0;
  }
  input:checked ~ .items-link {
    display: block;
    position: fixed;
    z-index: 50;
    background-color: #fcfcfc;
    padding-top: 3vw;
    padding-bottom: 3vw;
    opacity: 0.9;
    top: 0;
    right: 0;
    width: 100vw;
  }
  .items-lang {
    display: none;
  }
  .text__button {
    width: 85%;
    font-size: 12px;
  }
  .blocks_text2 {
    padding-left: 22px;
  }
  .blocks_text3,
  .blocks_text {
    padding-left: 16px;
  }
  .items-link a {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    margin-top: 10px;
  }
  .elipse {
    display: none;
  }

  .bg-image {
    background: url(./src/about-us/humans.png) 90% 0% no-repeat;
    background-size: 82% 84%;
    background-position-y: -2%;
    width: 73vw;
  }

  @media all and (max-width: 680px) {
    .blocks_text2,
    .blocks_text3,
    .blocks_text {
      width: 60vw;
    }
    .blocks_text_main__btn {
      margin-top: 7vw;
    }
    .blocks_text_main__title,
    .blocks_text_main__title2 {
      font-size: 26px;
    }
    .about-us {
      height: 47.6vw;
    }
    .elipse {
      display: none;
    }
  }

  @media all and (max-width: 590px) {
    .info-block1,
    .info-block2,
    .info-block3 {
      height: 183px;
      margin-bottom: 10px;
      font-size: 30%;
    }
    .tariffs-box__headline h2 {
      line-height: 116%;
      font-size: 25.8px;
    }
    .blocks_text_main__desc {
      width: 54vw;
    }
    .blocks_text_main__btn {
      margin-top: 2vw;
    }
    .footer-contacts {
      width: 208px;
    }
    .blocks_text_main__title,
    .blocks_text_main__title2 {
      font-size: 24px;
    }
    .about-us_container {
      padding-top: 0.2vw;
    }
    .footer-contacts {
      margin-bottom: 50px;
    }
    .about-us_text {
      padding-top: 10.7%;
    }
    .elipse {
      display: none;
    }

    .about-us{
      height: 53vw;
    }
  }
  @media all and (max-width: 556px) {
    .bg-image {
      background: url(./src/about-us/humans.png) 101% 0% no-repeat;
      background-size: 91% 89%;
      background-position-y: 148%;
      width: 73vw;
    }
    .footer-contacts {
      margin-bottom: 50px;
    }
    .footer-header {
      height: auto;
      flex-wrap: wrap;
    }
  }

  @media all and (max-width: 475px) {
    .text__subtitle {
      padding-bottom: 29px;
      font-size: 11px;
    }
    .footer-contacts {
      margin-bottom: 53px;
    }
    .text__button {
      width: 107%;
      font-size: 13px;
    }
    .footer-header {
      justify-content: center;
      height: auto;
      flex-wrap: wrap;
    }
  }

  @media all and (max-width: 440px) {
    .footer-header {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .blocks_text_main__title,
    .blocks_text_main__title2 {
      font-size: 22px;
    }
    .footer-contacts {
      margin-bottom: 30px;
    }
    .footer-carts {
      width: 100%;
    }
    .content--right {
      height: auto;
      flex-wrap: wrap;
    }
    .content--left {
      width: 91vw;
    }
    .content--right__info-blocks,
    .content--right__info-blocks2,
    .content--right__info-blocks3,
    .content--right__info-blocks4 {
      width: 67.5vw;
      flex-wrap: wrap;
    }
    .blocks_text2,
    .blocks_text,
    .blocks_text3 {
      width: 79vw;
    }
    .blocks_text_main__btn {
      font-size: 12px;
      padding: 11px 20px 5px;
      margin-top: 50px;
    }
    .blocks_text2 {
      height: 429px;
      padding-top: 18px;
    }
    .blocks_text3,
    .blocks_text2,
    .blocks_text {
      padding-left: -2px;
      padding-top: 14px;
      width: 70vw;
    }
    .news-pic_blocks3,
    .news-pic_blocks {
      width: 93vw;
      padding-right: 69px;
    }
    .blocks_text {
      padding-top: 28px;
    }
    .blocks_text_main__btn {
      font-size: 11px;
      padding: 5px 2px 4px;
      margin-top: 17px;
      width: 55%;
      width: 55%;
    }
    .news-pic_blocks2,
    .news-pic_blocks3,
    .news-pic_blocks {
      width: 85vw;
      height: 499px;
      margin-bottom: 40px;
      padding-top: 14px;
    }
    .blocks_text_main__title2 {
      font-size: 16px;
      line-height: 19px;
    }
    .blocks_text_main__desc {
      font-size: 9.5px;
    }
    .news-pic_blocks2,
    .news-pic_blocks,
    .news-pic_blocks3 {
      height: 357px;
    }
    .blocks_text2 {
      height: 298px;
      width: 68vw;
    }
    .about-us{
      height: 61vw;
    }
  }
}

@media all and (max-width: 394px) {
  .about-us_content {
    height: 72.5vw;
  }
  .about-us_text {
    padding-top: -0.3%;
    padding-left: 10.5%;
  }
  .info-block1,
  .info-block2,
  .info-block3 {
    height: 116px;
    margin-bottom: 8px;
    font-size: 30%;
  }
  .bg-image {
    display: none;
  }
  .text__button {
    width: 106%;
    height: 52px;
    font-size: 13px;
  }
  .text__subtitle {
    padding-bottom: 14px;
    font-size: 16px;
  }

  .about-us{
    height:69vw
  }
}
